<div class="main-container home-section1 d-flex align-items-center">
  <img src="assets/images/banner_principal.webp" alt="banner principal" />
  <div class="container">
    <div class="home-section1__wrapper">
      <h1 class="home-section1__title">¡MI FORMULA TU CAMBIO!</h1>
      <div class="home-section1__text">
        <p>
          Mejora tu físico, optimiza tu rendimiento o alcanza tus objetivos
          personales. Tú marcas la meta, nosotros creamos el plan para lograrlo.
        </p>
      </div>
      <app-main-button
        url="/#contacto-rnyd"
        label="Contactanos"
      ></app-main-button>
    </div>
  </div>
</div>

<div class="main-container home-section2 d-flex align-items-center">
  <div class="container pt-5">
    <h2 class="text-center fw-bold">
      Convierte tu entrenamiento en una experiencia divertida
    </h2>
  </div>
</div>

<div class="main-container home-section3 d-flex align-items-start">
  <img src="assets/images/culturismo.webp" alt="Poses culturismo" />
  <div class="container d-flex justify-content-center">
    <div class="services-container d-flex justify-content-center gap-2">
      @for (card of serviceCards; track $index) {
      <div
        class="services-container__element d-flex flex-column align-items-center"
      >
        <div class="services-container__element--img">
          <img [src]="card.image" [alt]="card.title" />
        </div>
        <h3 class="fs-5 fw-bold">{{ card.title }}</h3>
        <p class="text-center fw-light">{{ card.description }}</p>
      </div>
      }
    </div>
  </div>
</div>

<div class="main-container home-section4">
  <div class="container d-flex flex-column align-items-center">
    <h2>¡Da el primer paso hacia tu mejor versión</h2>
    <div class="home-section4__gallery d-grid">
      @for (image of galleryIMages; track $index) {
      <a href="#planes-rnyd">
        <div class="home-section4__gallery--element">
          <img
            [src]="'assets/images/home-gallery/' + image.name + '.webp'"
            alt="gallery Image"
          />
          <div class="home-section4__gallery--element__description">
            <h3>{{ image.plan }}</h3>
          </div>
        </div>
      </a>
      }
    </div>
    <app-main-button
      url="/#planes-rnyd"
      label="¡Comienza hoy"
    ></app-main-button>
  </div>
</div>

<div class="main-container home-section5">
  <div class="container d-flex flex-column align-items-center">
    <div class="home-section5__section-wrapper">
      <div class="home-section5--img">
        <img
          src="assets/images/posando_mujer.webp"
          alt="Mujer en el Gimnasio"
        />
        <div class="home-section5--img__overlay"></div>
      </div>
      <div class="home-section5__section-wrapper--cards">
        @for (cardText of gymFeatures; track $index) {
        <div class="home-section5__section-wrapper--cards__element">
          <div class="home-section5__section-wrapper--cards__element--icon">
            <img src="assets/images/check_icon.webp" alt="gallery Image" />
          </div>
          <p>{{ cardText }}</p>
        </div>
        }
      </div>
    </div>
  </div>
</div>

<div class="main-container home-section6" id="planes-rnyd">
  <div class="container d-flex flex-column align-items-center">
    <h2 class="text-center">
    Tras el login, elige tu plan y ponte en acción.
    </h2>
    <div class="home-section6__plans-cards">
      @for (planCard of plansCards; track $index) {
      <div class="home-section6__plans-cards__element">
        <div class="home-section6__plans-cards__element--img">
          <img
            [src]="'assets/images/' + planCard.image + '.webp'"
            alt="plan Image"
          />
        </div>
        <div class="home-section6__plans-cards__element--information">
          <h3>{{ planCard.title }}</h3>
          <p>{{ planCard.description }}</p>
          <p class="home-section6__plans-cards__element--information__price">
            €{{ planCard.amount }}
          </p>
          <button class="btn btn-primary" (click)="subscribe(planCard.id)">
            Suscríbete ahora
          </button>
        </div>
      </div>
      }
    </div>
  </div>
</div>

<div class="main-container home-section7">
  <div class="container d-flex flex-column align-items-center">
    <div class="yellow-circle"></div>
    <div class="home-section7--inner">
      <div class="home-section7--inner__img">
        <img src="assets/images/personal-trainer.webp" alt="gallery Image" />
      </div>
      <div class="home-section7--inner__information">
        <h2>Descubre tu mejor versión cada día con un entrenador personal</h2>
        <p>
          Transforma tu rutina con actividades diseñadas para ti. Un entrenador
          personal te guía para superar tus límites, mantener la motivación y
          lograr resultados reales. Cada sesión es una oportunidad para mejorar
          tu bienestar físico y mental. ¡Alcanza tus metas de forma segura,
          efectiva y con acompañamiento experto!
        </p>
        <app-main-button
          url="/#contacto-rnyd"
          label="Contactanos"
          className="type-2"
        ></app-main-button>
      </div>
    </div>
  </div>
</div>

<div class="main-container home-section8">
  <div class="container d-flex flex-column align-items-center">
    <div class="home-section8--inner">
      <div class="yellow-overlay"></div>
      <div class="home-section8--inner__information">
        <h2>Encuentra tu mejor versión con entrenamiento personalizado</h2>
        <p>
          Descubre todo tu potencial físico y mental. Con la guía de un
          entrenador personal, cada entrenamiento te acerca más a tus objetivos.
        </p>
      </div>
      <div class="home-section8--inner__gallery">
        @for (image of secondaryGalleryIMages; track $index) {
        <div class="home-section8--inner__gallery--element">
          <img
            [src]="'assets/images/home-secondary-gallery/' + image + '.webp'"
            alt="gallery Image"
          />
        </div>
        }
      </div>
    </div>
  </div>
</div>

<div class="main-container home-section9" id="contacto-rnyd">
  <div class="container d-flex flex-column align-items-center">
    <div class="home-section9--inner">
      <div class="home-section9--inner__form">
        <div class="home-section9--inner__form--element">
          <h2>Contactanos</h2>
          <div class="home-section9--inner__form--element__text">
            <p>
              Para cualquier consulta o aclaración relacionada con los servicios
              contratados o por contratar, no dude en escribirnos a
              <a href="mailto:rnutricionydeporte@gmail.com."
                >rnutricionydeporte&#64;gmail.com.</a
              >
              Estaremos encantados de atenderle.
            </p>
          </div>
        </div>
        <div class="home-section9--inner__form--img">
          <img src="assets/images/contact.webp" alt="Contact Image" />
        </div>
      </div>
      <div class="home-section9--inner__information"></div>
    </div>
  </div>
</div>

<a class="sticky-service-button" href="#planes-rnyd">
  <img src="assets/images/service_icon.webp" alt="Mano sosteniendo pesa" />
</a>
