@import "../../../styles.scss";
$main-color: #FFD700;
$bg-color: #f7f7f7;
$bg-color-secondary: #f0f0f0;
.home-section1 {
  &__wrapper {
    width: 50%;
    position: relative;
    @media (max-width: 950px) {
      width: 75%;
    }
    @media (max-width: 540px) {
      width: 100%;
      padding: 4rem 1rem;
    }
  }
  &__title {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1.3;
    color: #fff;
    @media (max-width: 540px) {
      font-size: 2.5rem;
    }
  }
  &__text {
    background-color: $main-color;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    p {
      font-size: 1.1rem;
      font-weight: 700;
      margin: 0;
    }
  }
}

.home-section2 {
  > div {
    padding-bottom: 14rem;
    @media (max-width: 540px) {
      padding-bottom: 3rem;
    }
    h2 {
      font-size: 3rem;
      @media (max-width: 540px) {
        font-size: 2rem;
      }
    }
  }
}

.home-section3 {
  position: relative;
  min-height: 500px;
  > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  > div {
    padding-bottom: 10rem;
    h2 {
      font-size: 3rem;
    }
  }
}

.services-container {
  max-width: 1000px;
  transform: translateY(-70px);
  @media (max-width: 540px) {
    flex-wrap: wrap;
    transform: translateY(0);
    padding-top: 7rem;
  }
  &__element {
    box-shadow: 5px 5px 30px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 10px;
    padding: 70px 30px 30px;
    position: relative;
    &--img {
      background-color: $main-color;
      border-radius: 100%;
      padding: 1rem;
      position: absolute;
      top: 0;
      transform: translateY(-50%);
      img {
        max-height: 70px;
        width: auto;
      }
    }
    p {
      color: #999;
      font-size: 1rem;
      line-height: 1.4;
    }
  }
}

.home-section4 {
  padding-top: 6rem;
  padding-bottom: 40rem;
  background-color: $bg-color;
  @media (max-width: 1090px) {
    padding-bottom: 26rem;
  }

  @media (max-width: 540px) {
    padding-bottom: 10rem;
  }
  > div {
    max-width: 1000px;
    h2 {
      font-size: 3rem;
      font-weight: 700;
      text-align: center;
      line-height: 1.1;
      color: $main-color;
      @media (max-width: 540px) {
        font-size: 2rem;
      }
    }
  }
  &__gallery {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    grid-auto-rows: 1fr;
    margin-top: 3rem;
    @media (max-width: 540px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 80px;
    }
    &--element {
      position: relative;
      overflow: hidden;
      cursor: pointer;
      &:hover {
        img {
          transform: scale(1.1);
          transition: all 0.3s ease-in;
        }
      }
      img {
        transform: scale(1);
        aspect-ratio: 1/1;
        width: 100%;
        height: auto;
        object-fit: cover;
        transition: all 0.3s ease-out;
      }

      &__description {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        background-color: rgba(0, 0, 0, 0.4);
        h3 {
          font-size: 2rem;
          text-align: center;
        }
      }
    }
  }
}
.home-section5 {
  background-color: $bg-color-secondary;

  &__section-wrapper {
    display: flex;
    position: relative;
    transform: translateY(-50%);

    @media (max-width: 1090px) {
      max-width: 75%;
    }

    @media (max-width: 540px) {
      transform: translateY(0);
      flex-wrap: wrap;
      max-width: 90%;
      padding-top: 8rem;
      padding-bottom: 10rem;
    }

    &--cards {
      position: absolute;
      top: 30%;
      left: -15%;
      z-index: 2;
      display: flex;
      flex-direction: column;
      max-width: 1140px;
      gap: 25px;

      @media (max-width: 540px) {
        position: relative;
        left: 0;
      }

      @media (max-width: 1090px) {
        top: 50%;
      }

      &__element {
        display: flex;
        gap: 25px;
        max-width: 440px;
        background-color: #fff;
        padding: 30px;
        border-radius: 20px;
        box-shadow: 5px 5px 30px 0 rgba(0, 0, 0, 0.2);

        p {
          margin-bottom: 0;
        }

        &--icon {
          max-width: 64px;
          width: 100%;

          img {
            width: 100%;
          }
        }
      }
    }
  }

  &--img {
    position: relative;
    z-index: 1;

    img {
      position: relative;
      aspect-ratio: 907 / 605;
      max-width: 900px;
      width: 100%;
      z-index: 1;
      border-radius: 3rem;

      @media (max-width: 540px) {
        border-radius: 1rem;
        margin-bottom: 1rem;
      }
    }

    &__overlay {
      position: absolute;
      top: -4rem;
      right: -4rem;
      height: calc(100% + 8rem);
      width: 50%;
      background-color: $main-color;
      z-index: 0;
      border-radius: 3rem;
    }
  }
}
.home-section6 {
  background-color: $main-color;
  padding: 10rem 0;

  @media (max-width: 850px) {
    padding: 20rem 0;
    padding-bottom: 10rem;
  }

  @media (max-width: 540px) {
    padding: 10rem 0;
  }

  h2 {
    font-size: 3rem;
    line-height: 1.1;
    font-weight: 700;
    margin-bottom: 40px;

    @media (max-width: 540px) {
      font-size: 2rem;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__plans-cards {
    display: flex;
    gap: 24px;
    max-width: 1000px;

    @media (max-width: 850px) {
      flex-wrap: wrap;
      width: 80%;
    }

    &__element {
      background-color: #fff;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
      display: flex;
      flex-direction: column;

      &--img {
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        overflow: hidden;

        img {
          aspect-ratio: 364 / 278;
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }

      &--information {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        text-align: center;
        flex-grow: 1;

        &__price {
          font-size: 4rem;
          font-weight: 800;
          margin-top: auto;
        }

        h3 {
          font-size: 1.5rem;
          font-weight: 700;
        }
      }
    }
  }
}
.home-section7 {
  background-color: $bg-color-secondary;

  .container {
    position: relative;
  }

  &--inner {
    max-width: 992px;
    padding-top: 20rem;
    padding-bottom: 10rem;

    @media (max-width: 540px) {
      padding-top: 12rem;
    }

    @media (max-width: 1090px) {
      max-width: 80%;
    }

    &__img {
      position: relative;
      width: fit-content;

      img {
        position: relative;
        max-width: 810px;
        aspect-ratio: 810/540;
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 50px;
        transform: translate(-10%, -10%);
        z-index: 1;
      }

      &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $main-color;
        z-index: 0;
        border-radius: 50px;
      }
    }

    &__information {
      h2 {
        font-size: 3rem;
        font-weight: 700;
        margin-top: 3rem;
        margin-bottom: 1rem;
      }
    }
  }
}

.yellow-circle {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 208px;
  aspect-ratio: 1/1;
  background-color: $main-color;
  border-radius: 100%;

  @media (max-width: 540px) {
    width: 90px;
  }
}
.home-section8 {
  margin-top: 70px;
  margin-bottom: 100px;

  &--inner {
    max-width: 1000px;
    position: relative;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 150px;
    width: 100%;

    .yellow-overlay {
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      background-color: $main-color;
      z-index: -1;
      border-radius: 50px;
    }

    &__information {
      width: 80%;

      h2 {
        font-size: 3rem;
        line-height: 1.1;
        font-weight: 700;
      }

      p {
        font-style: italic;
        margin-bottom: 40px;
      }
    }

    &__gallery {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 30px;

      &--element {
        aspect-ratio: 1/1;
        border-radius: 50px;
        overflow: hidden;

        &:nth-child(5) {
          grid-column: span 2;
          grid-row: span 2;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
.home-section9 {
  background-color: $bg-color-secondary;

  &--inner {
    max-width: 1000px;
    padding: 100px 0;

    &__form {
      display: flex;
      align-items: center;
      gap: 60px;

      @media (max-width: 540px) {
        flex-wrap: wrap;
      }

      > div {
        flex: 1;
      }

      &--element {
        h2 {
          font-size: 3rem;
          font-weight: 700;
          margin-bottom: 3rem;
        }

        &__text p {
          font-size: 1.1rem;
        }
      }

      &--img {
        border-radius: 30px;
        overflow: hidden;

        img {
          width: 100%;
          aspect-ratio: 1/1;
          object-fit: cover;
        }
      }
    }
  }
}

.sticky-service-button {
  position: fixed;
  bottom: 10%;
  right: 10%;
  width: 5rem;
  background-color: $main-color;
  cursor: pointer;
  border-radius: 100%;
  opacity: 0;
  transform: scale(0) rotate(0deg);
  animation: sticky-appear 0.8s ease-out forwards;

  img {
    width: 100%;
  }
}

@keyframes sticky-appear {
  0% {
    opacity: 0;
    transform: scale(0) rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(360deg);
  }
}
